/Hosting20.Database/Hosting20.Database.dbmdl
*.suo
/*/bin
/*/obj
/_ReSharper.*
/packages
/*/packages
/*.ReSharper.user
*.csproj.user
*.publish.xml
*.dbml
/Hosting20.Emailer/*/bin
/Hosting20.Emailer/*/obj
/Hosting20.Emailer/_ReSharper.KustomPage.Emailer.Console
/Hosting20.Emailer/KustomPage.Emailer.Console.5.0.ReSharper.user
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/_ReSharper.KustomPage.TrafficEngine
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Console/obj
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Core/obj
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.DataLayer/obj
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/packages
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Tests/obj
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.6.1.ReSharper.user
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.5.0.ReSharper.user
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Console/obj
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Tests/obj
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Parser/obj
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.DataLayer/obj
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Core/obj
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Tests/bin
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Common/bin
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Console/bin
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Core/bin
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.DataLayer/bin
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Limiter/bin
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Parser/bin
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Common/obj
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Limiter/obj
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.sln.DotSettings.user
/Hosting20.TrafficEngine/KustomPage.TrafficEngine/KustomPage.TrafficEngine.Common/obj
